/*#region Commons*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-width: 1170px;
    font-family: 'Fredoka', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
/*#endregion*/

/*#region Utilities */

:root{
    --zl-primary: #ff6900;
    --zl-off: #ff0000;
    --zl-dark: black;
    --zl-light: white;
    --zl-sustenibles: #05830b;
    --zl-priceoff: #ff302e;
}

.container{
    width: 78%;
    margin: auto;
    max-width: 1170px;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;

}

.col-menu{
    width: calc(100% / 3);
    height: 50px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none
}

li > a{
    color: var(--zl-light);
   
}

img{
    width: 100%;
}

.space{
    justify-content: space-around;
}

.items{
    align-items: center;
}

.py-left{
    padding-left: 0.6rem;
}

.py-left2{
    padding-left: 5.5rem;
}

.py-left3{
    padding-left: 0.4rem;
}

.py-right{
    padding-right: 6.7rem;
}

.margin{
    margin-left: 0.7rem;
}

.margin2{
    margin-left: 2rem;
}

.text-style{
    color: var(--zl-light);
    font-size: 12px;
}

.price-cl{
    color: var(--zl-off);
}

.fit{
    font-weight: bold;
}

.price-cl, .brand, del{
    font-size: 13px;
}

.gap20{
    gap: 20px;
}
/*#endregion*/

/*#region Debug*/



/*#endregion*/

/*#region Header*/

.container_header{
    width: 100%;
    background-color: var(--zl-primary);
    box-shadow: 0 0 3px black;
    position: fixed;
    top: 0;
    z-index: 100000;
}

.text-menu{
    justify-content: center;
    align-items: center;
}

span a{
    margin: 0 0.2rem;
}

/*#endregion*/

/*#region Main*/

main{
    background-color: var(--zl-light);
}

.card1{
    position: relative;
    background-image: url(../img/1.webp);
    background-size: cover;
    height: 480px;
    margin-top: 6rem;
}

.container_card{
    width: 32%;
}

.card2{
    position: relative;
    background-image: url(../img/2.webp);
    background-size: cover;
    height: 480px;
    margin-top: 6rem;
}

.card3{
    position: relative;
    background-image: url(../img/3.webp);
    background-size: cover;
    height: 480px;
    margin-top: 6rem;
}

.card4{
    position: relative;
    background-image: url(../img/4.webp);
    background-size: cover;
    height: 480px;
    margin-top: 2rem;
}

.card5{
    position: relative;
    background-image: url(../img/5.webp);
    background-size: cover;
    height: 480px;
    margin-top: 2rem;
}

.card6{
    position: relative;
    background-image: url(../img/6.webp);
    background-size: cover;
    height: 480px;
    margin-top: 2rem;
}

.heart{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 6%;
    top: 5%;
}

.container-heart{
    height: 45px;
    width: 45px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0%;
    top: 2%;
}


.first:hover{
    background-image: url(../img/1b.webp);
}

.second:hover{
    background-image: url(../img/2b.webp);
}

.third:hover{
    background-image: url(../img/3b.webp);
}

.fourth:hover{
    background-image: url(../img/4b.webp);
}

.fifth:hover{
    background-image: url(../img/5b.webp);
}

.sixth:hover{
    background-image: url(../img/6b.webp);
}

i{
    color: black;
}

i:hover{
    color: var(--zl-off);
}

.container_off{
    height: 20px;
    width: 35px;
    background-color: var(--zl-off);
    position: absolute;
    bottom: 8%;
}

.container_sustainability{
    height: 20px;
    width: 75px;
    background-color: var(--zl-sustenibles);
    position: absolute;
    bottom: 8%;
    left: 12%;
}

.sustainability{
    position: absolute;
    bottom: 8.4%;
    left: 14%;
}

.off{
    position: absolute;
    bottom: 8.4%;
    left: 1%;
}

.container_sustainability_mod{
    height: 20px;
    width: 75px;
    background-color: var(--zl-sustenibles);
    position: absolute;
    bottom: 8%;
    left: 0%;
}

.sustainability_mod{
    position: absolute;
    bottom: 8.4%;
    left: 1%;
}

.column_text{
    width: 32%;
}
/*#endregion*/

/*#region Footer*/

.container_footer{
    width: 100%;
    background-color: var(--zl-dark);
    margin-top: 4rem;
    box-shadow: 0 0 3px black;
    height: 100px;
}

.col_footer{
    width: 50%;
}

footer h4, h6{
    color: var(--zl-light);
}

.voice{
    margin-top: 1rem;
}

footer a > i{
    margin: 0.2rem;
    margin-top: 0.4rem;
}

footer h6{
    margin-left: 0.5rem;
}

.col_footer a{
    color: #bebebe;
}
/*#endregion*/